@use '../globals/' as g;

.dialog{
  background: none;
  border: none;
  padding: 0;
  @include g.mix-flex-aligment(center);


  &::backdrop{
    background-color: #0002;
    backdrop-filter: blur(1px);
  }
  box-shadow: 
    0 0 44px 0 #0005;
    border-radius: 1rem;
    backdrop-filter: blur(4px) saturate(110%);
    background-color: #fff2;
}
.modal{
  padding: 1rem; 
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 200px;
  max-height: 60vh;
  justify-content: center;
  color: #0009;
  text-shadow: 0 0 6px #0006;
  
  &__title{
    font-family: g.$font;
    text-align: center;
  }
  &__options{
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}