@use '../globals/' as g;
@use '../util/' as u;

.footer{
  background: linear-gradient(#fff1, #fff4);
  backdrop-filter: blur(2px) saturate(130%);
  border-top: 1px solid #0005;
  margin: 0;
  width: 100%;
  min-height: 90px;
  font-family: g.$font;
  font-weight: bold;
  color: #0008;
  font-size: .8rem;
  padding: 10px;
  @include g.mix-flex-aligment(unset);
  @include u.breakpoint("medium"){
    font-size: 1rem;
  }
  &__list{
    @include g.mix-flex-aligment(space-evenly);
    flex-wrap: wrap;
    margin: 0;
    height: 100%;
    width: 100%;
    gap: 10px;
    
    &__item{
      position: relative;
      
      &:hover{
        color: #fff
      }
      &>*{
        @include g.mix-flex-aligment(space-evenly);
        gap: 5px;
        cursor: pointer;
      }
      &__icon{
        filter: drop-shadow(0 0 6px #0006);
      }
    }
  }
  &__modal{
    position: absolute;
    bottom: 140%;
    left: 30%;
    background-color: #000000;
    box-shadow: 0 0 6px 1px #0008;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    color:#fff;
    display: none;
    &.copied{
      display: inline-block;
    }
  }
}