@use '../globals/' as g;
@use '../util/' as u;

.interactive-card{
  position: absolute;
  perspective: 1000px;
  z-index: 12;
  

  &__content{
    border-radius: .5em;
    cursor: move;
    font-family: g.$font;
    font-weight: bold;
    color: #0009;
    background-color: #f1f1f120;
    backdrop-filter: blur(9px) saturate(140%);
    box-shadow: inset 0 0 40px 0 #fff6, 0 0 4px 0 #0d0d1866;
    padding: 1rem;
    min-height: 100px;
    width: 200px;
    transform: rotateX(0) rotateY(0);
    pointer-events: none;
    transition: 200ms linear transform;
    overflow: hidden;
    display: grid;
    transform-style: preserve-3d;
    position: relative;
    user-select: none;
    overflow: hidden;

    @include u.breakpoint-down("small"){
      font-size: .6rem;
      width: 150px;
      min-height: 90px;
    }

    &:before {
      content: "";
      position: absolute;
      width: 200%;
      height: 200%;
      left: -50%;
      top: -50%;
      background: linear-gradient(#ffffff33, #00000033);
    }
  }
  &__cell{
    position: absolute;
    z-index: 1;
    width: 10%;
    height: 10%;
    cursor: grab;

    &:active{
      cursor: grabbing;
    }
  }//end cell

  @for $row from 1 to 11 {
    @for $column from 1 to 11 {
      //ubicacion de las celdas
      &__cell-#{( ($row*10) + $column - 10)} {
        top: ($row * 10%)-10%;
        left: ($column * 10%)-10%;

      }
      //transformacion segun la celda
      &__cell-#{( ($row*10) + $column - 10)}:hover
        ~ &__content {
        transform: rotateX((($row * -5)+25deg)) rotateY((-25deg+ ($column * 5)));
        //transformacion de la peudoclase para imitar
        //una iluminación tenue
        &:before {
          transform: translateY(25- (5% * $row));
        }
      }
      
      //transformacion segun la celda
      &__cell-#{( ($row*10) + $column - 10)}:active
        ~ &__content {
        transform: rotateX((($row * -5)+25deg)) rotateY((-25deg+ ($column * 5)));
        //transformacion de la peudoclase para imitar
        //una iluminación tenue
        &:before {
          transform: translateY(25- (5% * $row));
        }
      }
    }//end for
  }//end for
}