@use '../globals/' as g;
@use '../util/' as u;

.modal_wrapper{
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  @include g.mix-flex-aligment(center);
  position: fixed;
  top: 0;
  right: 0;
  background-color: #0009;
  z-index: 30;
}

.modal{
  padding: 10px;
  background-color: #f1f2f3;
  font-weight: bold;
  width: min(60%, 90vw);
  border-radius: 1rem;
  height: max(300px, 80vh);
  overflow-y: auto;
  color: #0008;
  backdrop-filter: saturate(150%);
  box-shadow: 
  0 20px 10px 0 #32325d40;
  text-shadow:0 0 6px #0006;
  border-radius: 10px;
  

  @include u.breakpoint-down('small'){
  width: 90%;
  }
  @include u.breakpoint('medium'){
  width: 40%;
  }
  &__options{
    @include g.mix-flex-aligment(unset, flex-start);
    flex-direction: column;
    gap: 1rem;
    
    &__item{
      width: 100%;
      user-select: none;
      cursor: pointer;
      box-shadow: 
        0 20px 10px 0 #32325d40;
      border-radius: 10px;
      transition: box-shadow .2s, transform .2s;
      padding: .7rem;

      &:hover{
        transform: translateY(6px);
        background-color: darken(#f4ffe360, 10%);
        box-shadow: 
          0 10px 10px 0 #32325d40;
      }
    }
  }

}
