@use '../globals/' as g;
@use '../util/' as u;

.configplay{
  min-height: 100vh;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  @include g.mix-flex-aligment(unset);
  flex-direction: column;
  background: g.$gradient-primary;
  color: #0008;
  z-index: -10;

&__title{
  padding: .5rem;
  font-family: g.$primaryfont;
  text-align: center;
  font-family: g.$primaryfont;
  font-weight: 400;
  text-shadow: 0 0 6px #0005;
}
  &__form{
    @include g.mix-flex-aligment(center);
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    
    &__label{
      @include g.mix-flex-aligment(center);
      flex-direction: column;
      border-radius: 1rem;
      width: 80%;
      outline: 1px solid #0003;
      padding: 1rem;
      text-align: center;
      margin: .5rem 0;

      @include u.breakpoint('medium'){
        width: 40%
      } 

    }

    &__category, &__difficulty{
      width: 100%;
      position: relative;
      @include u.breakpoint-down('small'){
        font-size: .7rem;
      } 
    }//end category, difficulty

    &__amount{
      margin: 1em 0;
      width: 100%;
      text-align: center;
      border: none;
      outline: none;
      color: #0008;
      height: 60px;
      font-size: 1rem;
      font-weight: bold;
      background-color: transparent;
      padding: 10px;

      &::-webkit-inner-spin-button, &::-webkit-outer-spin-button{
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
      }
      &_wrapper{
        box-shadow: inset 0 0 5px 0 #0003;
        @include g.mix-flex-aligment(unset);
        width: 100%;
        height: 65px;
        backdrop-filter: saturate(130%);
        border-radius: 10px;
      }
      &__left, &__right{
        @include g.mix-flex-aligment(center);
        height: 100%;
        width: 20%;
        border-radius: 10px 0 0 10px;
        cursor: pointer;
        transition: background-color .3s;
        user-select: none;

        &:hover{
          background-color: #fff3;
        }
      }
      &__right{
        border-radius: 0 10px 10px 0;
      }
    }//end amount

    &__bottom{
      @include g.mix-flex-aligment(space-evenly);
      width: 100%;
    }
    &__btn{
      font-size: 1rem;
      margin: 2rem 0;
    }

  }//end form
}