@use '../globals/' as g;
@use '../util/' as u;

.gameover{
  min-height: 100vh;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  @include g.mix-flex-aligment(unset);
  flex-direction: column;
  background: g.$gradient-primary;
  color: #0008;
  z-index: -10;

  &__title{
    font-family: g.$primaryfont;
    font-size: 2rem;
    margin: 1rem;
  }

  &__sentence{
    font-size: 1.6rem;
    font-family: g.$font;
    font-weight: bold;
    text-align: center;

    @include u.breakpoint-down("small"){
      font-size: 1.2rem;
    }

    &::after{
      content: "! ";
    }
    &::before{
      content: " ยก";
    }
  }

  &__results{
    margin: 1em 0;
    text-align: center;
    color: #0008;
    backdrop-filter: blur(2px) saturate(130%);
    box-shadow: inset 0 0 10px 0 #32325d40;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
    @include g.mix-flex-aligment(unset);
    flex-direction: column;
    
    @include u.breakpoint-down("small"){
      width: 90%;
      font-size: .9rem;
    }

      &__paragraph{
        &>em{
          font-weight: bold;
          font-style: normal;
        }
      }

    &__table{
      border: 1px solid #0008;
      border-spacing: 0;
      gap: 0;
      &__body, &__head{
        &__row{
          &__item{
            border: 1px solid #0008;
            padding: .5rem;
          }//end item
        }//end row
      }
    }
  }

  &__nav{
    @include g.mix-flex-aligment(space-evenly);
    width: 100%;
    flex-grow: 1;
    height: 100px;
    
    
    @include u.breakpoint-down("small"){
      flex-direction: column;
      height: 180px;
    }

  }//end nav
}
