@use '../globals/' as g;
@use '../util/' as u;

.home{
  min-height: 100vh;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  @include g.mix-flex-aligment(unset);
  flex-direction: column;
  background: g.$gradient-primary;
  z-index: -10;

  &__header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px auto;
    height: 30vh;
    width: 100%;
    position: relative;
    perspective: 1000px;

    @include u.breakpoint('medium'){
      grid-template-columns: 1fr auto 1fr;
      grid-template-rows: 1fr;
    }
    
      &__title{
        text-align: center;
        grid-column: 1/3;
        grid-row: 1/2;
        font-family: g.$primaryfont;
        font-weight: 400;
        font-size: 3rem;
        color: #0008;
        text-shadow: 0 0 6px #0005;

        @include u.breakpoint('medium'){
          grid-column: 2/3;
          @include g.mix-flex-aligment(center);

        }
        &--span{
          display: inline-block;
          @include u.breakpoint-down('small'){
            display: none;
          }
        }
    
      }//end title
    
    &__logo{
      grid-row: 2/3;
      height: 100%;
      position: relative;
      flex-grow: 1;
      perspective: 1000px;
      animation: rotation 2.5s ease-in-out alternate;
      animation-iteration-count: infinite;
      transform-style: preserve-3d;
      user-select: none;
      
      @include u.breakpoint('medium'){
        grid-row: 1/2;
      }

      &:first-child{
        animation-delay: 2.5s;
      }
      
      &.open>*{
        grid-column: 1/2;
        text-shadow: 0 0 5px #83ffbb;
        -webkit-text-stroke: 2px #83ffbb;
      }
      &.close>*{
        grid-column: 2/3;
        -webkit-text-stroke: 2px #ff8389;
        text-shadow: 0 0 5px #ff8389;
        @include u.breakpoint('medium'){
          grid-column: 3/4;
        }
      }
      
      @for $i from 1 to 13{
        &__#{$i}{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        color: #f1f1f1;
        @include g.mix-flex-aligment(center);
        transform: translateZ(#{$i} + px) ;
        font-size: 8em;
        transform-style: preserve-3d;
        filter: blur(1px);
      }
    }//end for
  }//end logo
}//end header
  &__section{
    flex-grow: 1;
    @include g.mix-flex-aligment(unset);
    flex-direction: column;

    &__description{
      margin: 1em 0;
      text-align: center;
      color: #0008;
      backdrop-filter: blur(2px) saturate(130%);
      box-shadow: inset 0 0 10px 0 #32325d40;
      border-radius: 10px;
      padding: 10px;
      width: 60%;

      @include u.breakpoint('medium'){
        font-size: 1.1rem;
        width: 50%;
      } 
      @include u.breakpoint-down('small'){
        width: 90%;
      }  

      & > em{
        font-weight: bold;
      }
    }
    
    &__options{
      @include g.mix-flex-aligment(unset);
      flex-direction: column;
      width: 100%;
      flex-grow: 1;
      gap: 1rem;
      padding: 1rem;
      margin-bottom: 1rem;
      // background: red;
      @include u.breakpoint('medium'){
        @include g.mix-flex-aligment(space-evenly);
        flex-direction: row;
      } 

      &__btn{
        @include g.mix-flex-aligment(space-evenly);
        color: #0008;
        gap: 5px;
        backdrop-filter: blur(3px) saturate(150%) brightness(98%);
        user-select: none;
        cursor: pointer;
        box-shadow: 
          0 0 20px 0 #fff6,
          0 20px 10px 0 #32325d40;
        text-shadow:0 0 6px #0006;
        border-radius: 10px;
        transition: all .2s;
        padding: .7rem;
        
        &:hover{
          transform: translateY(6px);
          background-color: darken(#f4ffe360, 10%);
          box-shadow: 
            0 0 20px 0 #fff6,
            0 10px 10px 0 #32325d40;
        }

        @include u.breakpoint('medium'){
          padding: .7rem;
          font-size: 1.3rem;
        } 

        &>*{
          filter: drop-shadow(0 0 6px #0006);
        }
      }//end btn
    }//end options
  }//end section
}


@keyframes rotation {
  from{
    transform: rotateY(0deg) rotateX(0deg);
  }
  to{
    transform: rotateY(-180deg) rotateX(25deg);
  }
}
