.container{
  background-color: #f1f2f1;
  width: 90vw;
  height: 90vh;
  border: 2px solid #0002;
  position: relative;
  display: grid;
  place-content: center;
}

.cube{
  height: 250px;
  width: 250px;
  position: relative;
  pointer-events: none;
  transition: 100ms linear transform;
  transform-style: preserve-3d;
  transform-origin: center;
  transform: rotateY(0) rotateX(0);
  perspective: 1000px;
  &:hover{
    transform: rotateY(90deg) rotateZ(90deg);
  }


  @for $side from 1 to 7{
    &__side#{$side}{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  &__side1{
    background-color: green;
  }
  &__side2{
    background-color: #29b829;
    transform-origin: bottom;
    transform: rotateX(-90deg);
  }
  &__side3{
    background-color: #29b8a0;
    transform-origin: top;
    transform: rotateX(90deg);
  }
  &__side4{
    background-color: #86b829;
    transform-origin: left;
    transform: rotateY(-90deg);
  }
  &__side5{
    background-color: #7329b8;
    transform-origin: right;
    transform: rotateY(90deg);
  }
  &__side6{
    background-color: #f5900c;
    transform-origin: top;
    transform: translateZ(250px);
  }
}