@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");
html {
  height: 100%;
}
body {
  text-align: center;
  height: 100%;
  background-color: #2c4159;
  font-family: "Open Sans", sans-serif;
  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}
.reflection-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  transform-style: preserve-3d;
  perspective: 1000px;
  &:before {
    content: "Hover me ➜";
    color: #fff;
    position: absolute;
    left: -1rem;
    top: 50%;
    font-size: 6vh;
    transform: translateX(-100%) translateY(-50%);
  }
  .reflection-content {
    height: 40vh;
    width: 40vh;
    background: #000 url("https://unsplash.it/800/800/?random");
    background-size: cover;
    background-position: center;
    transform: rotateX(0) rotateY(0);
    pointer-events: none;
    transition: 200ms linear transform;
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      width: 200%;
      height: 200%;
      left: -50%;
      top: -50%;
      background: linear-gradient(#ffffff33, #00000033);
    }
  }
  .reflection-grid-cell {
    position: absolute;
    z-index: 1;
    width: 10%;
    height: 10%;
  }

  @for $row from 1 to 11 {
    @for $column from 1 to 11 {
      //ubicacion de las celdas
      .reflection-grid-cell-#{( ($row*10) + $column - 10)} {
        top: ($row * 10%)-10%;
        left: ($column * 10%)-10%;
      }
      //transformacion segun la celda
      .reflection-grid-cell-#{( ($row*10) + $column - 10)}:hover
        ~ .reflection-content {
        transform: rotateX((($row * -5)+25deg)) rotateY((-25deg+ ($column * 5)));
        //transformacion de la peudoclase para imitar
        //una iluminación tenue
        &:before {
          transform: translateY(25- (5% * $row));
        }
      }
    }
  }
}
